{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<h2> À propos</h2>
<p>À PROPOS
    Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez sur "Modifier Texte" ou double-cliquez ici pour
    ajouter votre contenu et personnaliser les polices. Relatez ici votre parcours et présentez votre activité à vos
    visiteurs. </p>
    <br>
<p>Présentez votre entreprise, vos services et vos équipes. Utilisez cet espace pour décrire votre activité. Présentez
    votre équipe et les services proposés. Expliquez à vos visiteurs vos motivations, vos objectifs et soulignez vos
    avantages par rapport à vos concurrents. Démarquez-vous et captivez l'attention de vos visiteurs.</p>

    <img src="{{ asset('images/cindy.jpg') }}"><br>


{#
<div>
    <a href="{{ path('main_home') }}">Lien vers Home</a>
</div>
#}

{% endblock %}
