<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar="mode: click">

            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li><a class="uk-active" href="{{ path('main_home') }}" title="Go back to homepage">Home</a></li>
                    <li><a class="uk-active" href="{{ path('main_portfolio') }}" title="Go back to portfolio">Portfolio</a></li>
                    <li><a class="uk-active" href="{{ path('main_aPropos') }}" title="Go back to aPropos">À propos</a></li>
                    <li><a class="uk-active" href="{{ path('main_contact') }}" title="Go back to contact">Contact</a></li>
                </ul>

            </div>

        </div>
    </div>
</nav>