
.logo-header {
    width: 350px;        /* taille du logo */
    height: auto;
    display: block;
    margin: 0 auto;      /* centre le logo */
}
html, body {
    height: 100%;
    margin: 0;
}

.page-container {
    min-height: 100vh;       /* occupe toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;  /* empile header, main et footer */
}

.content {
    flex: 1;                 /* prend tout l’espace disponible */
}

.footer {
    /*background: #222;
    color: #fff;*/
    padding: 15px;
    text-align: center;
}
